body{
  color: white;
  background: black;
  font-family: Helvetica, sans-serif;
  font-size: 20vw;
  overflow: hidden;
}


.clear {
  float: none;
  clear: both;
}

.name {
  font-size:0.4em;

  .team {
    width: 50%;
    float: left;
  }
  .team_a {
  }
  .team_b {
    text-align: right;
  }
}

.score, .set {
  //margin: 0 auto;
  text-align: center;
  div:not(.clear) {
    display: inline-block;
    //float: left;
  }

  .team{
    min-width: 30%;

  }

  .team_a {
    text-align: right;
  }

  .team_b {
    text-align: left;
  }
}

.score{
  margin-top: 0.1em;
}

.sets{
  font-size:0.4em;
}